@model Bookstore.Models.HomeViewModel

@{
    ViewData["Title"] = "Bookstore"; // so ova go pravime naslovot na tabot
}

<!-- Search Section -->
<div class="container">
    <form asp-action="Search">
        <div class="p-3 search-main">
            <button class="btn search-btn-icon">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" class="form-control search-box-style" id="searchbook" />
            <button class="btn btn-success search-btn" id="searchBtn">Search</button>
        </div>
    </form>
</div>


<!-- Banner Section -->
<div class="container-fluid bookstore-background px-0">
    <h1 class="display-4 banner-text-style1 animate__animated animate__fadeIn animate__slower">Welcome to our online bookstore!</h1>
    <h4 class="display-4 banner-text-style2 animate__animated animate__fadeIn animate__slower animate__delay-1s">Find your next adventure!</h4>
    <div class="col-12 col-md-7 quotes-section">
        <blockquote class="quote-text-quote" id="quote"></blockquote>
        <p class="quote-text-author" id="quote_author"></p>
        <p class="quote-text-tags" id="quote_tags"></p>
    </div>
</div>


<!-- All Books Section -->
<div class="container-fluid">
    <h2>All Books</h2>
    <h6><em>List of all books</em></h6>
    <div class="row pb-5">
        @foreach (var book in Model.AllBooksList)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-5">
                <div class="card h-100 mx-auto" style="max-width: 350px;">
                    <div class="image">
                        <img src="~/photos/@book.PhotoURL" alt="Alternate Text" class="card-img-top" style="height:450px" />
                    </div>
                    <div class="card-body">
                        <div class="text-center d-flex flex-column justify-content-center" style="height:120px">
                            <h5 class="card-title w-100"><a class="text-dark" href="/Book/Details/@book.Id">@Html.DisplayFor(modelItem => book.Title)</a></h5>
                            <h6 class=""><em>by <a class="text-dark" href="/Author/Details/@book.AuthorID">@Html.DisplayFor(modelItem => book.AuthorName)</a></em></h6>
                        </div>
                        <hr />
                        <p class="card-text">Category: @Html.DisplayFor(modelItem => book.CategoryName)</p>
                        <p class="card-text">Genre: @Html.DisplayFor(modelItem => book.Genre)</p>
                        <p class="card-text">Book Rating: @Html.DisplayFor(modelItem => book.Rating)/5.0</p>
                        <button class="btn btn-secondary btn-block"><i class="fas fa-plus-circle"></i> Add to Wishlist</button>
                        <button class="btn btn-success btn-block"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                    </div>
                </div>
            </div>
        }

        @* ************************** AKO POLNIME SO AJAX !!!! ************************** *@
        @*<div class="col-12 col-md-2 mt-5">
                <div class="card h-100">
                    <img src="#" alt="Alternate Text" class="img-fluid" style="max-width: 350px;" />
                    <div class="card-body">
                        <input type="text" id="bookTitleFromJson" />
                    </div>
                </div>
            </div>*@
    </div>
</div>


@section Scripts {
    <script src="~/js/home/home.js"></script>
}