
@model IEnumerable<Bookstore.Entities.Book>

<div class="container mt-4">

    <h1>Books</h1>

    <div class="row mb-4">
        <div class="col-12 col-md-12">
            <h3>All books</h3>
            <a class="btn-success btn float-right" asp-controller="Book" asp-action="Create">
                <i class="fas fa-plus-circle"></i>
                &nbsp; &nbsp;
                Create
            </a>
        </div>
    </div>

    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year of Issue</th>
                <th>Publisher</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <a class="text-dark" href="/Book/Details/@book.Id">@Html.DisplayFor(modelItem => book.Title)</a>
                    </td>
                    <td>
                        <a class="text-dark" href="/Author/Details/@book.AuthorID">@Html.DisplayFor(modelItem => book.AuthorName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.YearOfIssue)
                    </td>
                    <td>
                        <a class="text-dark" href="/Publisher/Details/@book.PublisherID">@Html.DisplayFor(modelItem => book.PublisherName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.CategoryName)
                    </td>
                    <td>
                        <a class="btn-secondary btn btn-block" asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
                            <i class="fas fa-edit"></i>
                            &nbsp; &nbsp;
                            Edit
                        </a>
                        <a class="btn-info btn btn-block" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                            <i class="fas fa-info"></i>
                            &nbsp; &nbsp;
                            Details
                        </a>
                        @if (ViewContext.HttpContext.User.IsInRole("admin"))
                        {
                            <a class="btn-danger btn btn-block" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">
                                <i class="fas fa-trash"></i>
                                &nbsp; &nbsp;
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

