@model IEnumerable<Bookstore.Entities.Category>

<div class="container">

    <h1>Category</h1>

    <hr />

    <div class="row mb-4">
        <div class="col-12 col-md-12">
            <h3>All categories</h3>
            <a class="btn-success btn float-right" asp-controller="Category" asp-action="Create">
                <i class="fas fa-plus-circle"></i>
                &nbsp; &nbsp;
                Create
            </a>
        </div>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => category.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => category.Name)
                    </td>
                    <td>
                        <a class="btn-secondary btn btn-block" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">
                            <i class="fas fa-edit"></i>
                            &nbsp; &nbsp;
                            Edit
                        </a>
                        <a class="btn-info btn btn-block" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id">
                            <i class="fas fa-info"></i>
                            &nbsp; &nbsp;
                            Details
                        </a>
                        <a class="btn-danger btn btn-block" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                            <i class="fas fa-trash"></i>
                            &nbsp; &nbsp;
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

