@model IEnumerable<Bookstore.Entities.Publisher>

<div class="container">

    <h1>Publisher</h1>

    <hr />

    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var publisher in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => publisher.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => publisher.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => publisher.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => publisher.Year)
                    </td>
                    <td>
                        <a class="btn-secondary btn btn-block" asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.Id">
                            <i class="fas fa-edit"></i>
                            &nbsp; &nbsp;
                            Edit
                        </a>
                        <a class="btn-info btn btn-block" asp-controller="Publisher" asp-action="Details" asp-route-id="@publisher.Id">
                            <i class="fas fa-info"></i>
                            &nbsp; &nbsp;
                            Details
                        </a>
                        <a class="btn-danger btn btn-block" asp-controller="Publisher" asp-action="Delete" asp-route-id="@publisher.Id">
                            <i class="fas fa-trash"></i>
                            &nbsp; &nbsp;
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
